@page "/counter"
@inject ILogger<Counter> Logger;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 2;

    protected override void OnParametersSet()
    {
        Logger.LogInformation("OnParametersSet.");
    }

    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized.");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender.");
    }

    private void IncrementCount()
    {
        currentCount+=2;
    }
}
